.submenu-header {
  color: var(--c-black);

  &__list {
    display: none;
  }

  &__list-link,
  &__submenu-btn {
    display: flex;
    column-gap: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.86rem 0;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    transition: color var(--p-tr), border-bottom var(--p-tr);

    &::after {
      content: "";
      flex: 0 0 1.4rem;
      width: 1.4rem;
      height: 1.4rem;
      background-image: url("../img/svg/arr-right.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.6;
      transition: opacity var(--p-tr), transform var(--p-tr);
    }
  }

  &__inner {
    display: grid;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
  }

  &__sublist-link {
    display: flex;
    padding: 1.34rem 2.4rem;
  }

  &__services {
    display: none;
  }

  &__contacts {
    font-style: normal;
  }
}

@media (min-width: 48.01em) {
  .submenu-header {
    display: grid;
    column-gap: 4.8rem;
    grid-template-columns: 29.2rem 1fr;
    padding-right: 2.4rem;
    padding-bottom: 4rem;
    padding-left: 2.4rem;

    &__list-submenu {
      margin-top: 2.2rem;
      margin-bottom: 7.2rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__sublist,
    &__services,
    &__list {
      overflow: auto;
      max-height: 44dvh;
    }

    &__submenu-body,
    &__services {
      &:not(._is-active) {
        display: none;
        opacity: 0;
      }
    }

    &__list-link {
      &._is-active {
        color: var(--c-gold);

        &::after {
          opacity: 1;
        }
      }
    }

    &__submenu-btn {
      display: none;
    }

    &__inner {
      column-gap: 4.8rem;
      grid-template-columns: 18.9rem 1fr;
      padding-bottom: 4rem;
    }

    &__sublist-link {
      position: relative;
      display: inline-flex;
      margin: 0;
      padding: 0.8rem 0;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--c-gold);
        transform: scaleX(0);
        transition: transform var(--p-tr);
      }

      &._is-active {
        color: var(--c-gold);

        &::after {
          transform: scaleX(1);
        }
      }
    }

    &__services {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.4rem 1.6rem;
    }

    &__services-blocks {
      padding-top: 0.7rem;
    }

    &__contacts.contacts-submenu-header {
      display: none;
    }
  }
}

@media (max-width: 48em) {
  .submenu-header {
    &__submenu-body {
      &:not(:last-child) {
        .submenu-header__submenu-btn {
          border-bottom: 1px solid rgba(172, 135, 62, 0.2);
        }
      }

      &._is-active {
        .submenu-header__submenu-btn {
          border-bottom: 1px solid transparent;
        }
      }
    }

    &__list-link,
    &__submenu-btn {
      padding: 2.3rem 0;
      width: 100%;
      font-size: 2.2rem;
      letter-spacing: 0.08rem;
      color: var(--c-gold);

      ._is-active & {
        color: var(--c-black);
      }

      &::after {
        content: "";
        flex: 0 0 2.2rem;
        width: 2.2rem;
        height: 2.2rem;
        background-image: url("../img/svg/arr-black.svg");

        ._is-active & {
          opacity: 1;
          transform: rotate(-180deg);
        }
      }
    }

    &__inner {
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--p-tr);

      ._is-active & {
        grid-template-rows: 1fr;
      }
    }

    &__sublist {
      overflow: hidden;
    }

    &__submenu-blocks {
      margin-bottom: 9.6rem;
    }

    &__contacts.contacts-submenu-header {
      margin-bottom: 4rem;
    }
  }
}

._show-menu,
._show-submenu {
  overflow: hidden;
}
