$btn-arrow-default: url(../img/svg/arr.svg);
$btn-arrow-white: url(../img/svg/arr-white.svg);

.btn {
  display: inline-flex;
  column-gap: 1.4rem;
  align-items: center;
  border-radius: 99.9rem;
  padding-right: 2.5rem;
  padding-left: 3rem;
  height: 5.6rem;
  box-shadow: 1.9rem 5.1rem 2.2rem rgba(113, 87, 71, 0.03),
    1.1rem 2.8rem 1.8rem rgba(113, 87, 71, 0.1),
    0.5rem 1.3rem 1.3rem rgba(113, 87, 71, 0.17),
    0.1rem 0.3rem 0.7rem rgba(113, 87, 71, 0.2);
  font-weight: 500;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--c-white);
  background: linear-gradient(180deg, #d4b26f -66.86%, #a87c25 180.08%);
  transition: color var(--p-tr);

  @media (any-hover: hover) {
    &:hover {
      color: #eaeaea;
    }
  }

  &::after {
    content: "";
    display: inline-flex;
    flex: 0 0 2.4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--c-white);
  }
}

.btn,
.secondary-btn {
  &::after {
    background-image: $btn-arrow-default;
    background-position: center;
    background-size: 0.8rem;
    background-repeat: no-repeat;
  }
}

.btn--white,
html:not(._show-submenu, ._header-scroll) .header__btn {
  color: var(--c-black);
  background: var(--c-white);

  @media (any-hover: hover) {
    &:hover {
      color: var(--c-gold);
    }
  }

  &::after {
    background-image: $btn-arrow-white;
    background-color: var(--c-gold);
  }
}

.secondary-btn {
  display: inline-flex;
  column-gap: 0.6rem;
  align-items: center;
  border-bottom: 1px solid rgba(172, 135, 62, 0.2);
  padding: 0.7rem 0 0 0.3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--c-gold);
  transition: border-bottom var(--p-tr);

  @media (any-hover: hover) {
    &:hover {
      border-bottom: 1px solid rgba(172, 135, 62, 0);
    }
  }

  &.txt {
    font-size: 1.4rem;
  }

  &::after {
    content: "";
    flex: 0 0 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (max-width: 48em) {
  .btn {
    column-gap: 4.6rem;
    padding-right: 3rem;
    padding-left: 4.4rem;
    height: 9.6rem;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;

    &::after {
      flex: 0 0 4.8rem;
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  .btn,
  .secondary-btn {
    &::after {
      background-size: 1.6rem;
    }
  }
}
