<section class="hero">
  <div class="hero__container container">
    <div class="hero__reviews-label reviews-label">
      <figure class="reviews-label__icon">
        <svg><use href="#yandex-svg"></use></svg>
      </figure>
      <div class="reviews-label__text">
        <span class="reviews-label__subtitle txt txt--l"
          ><span class="reviews-label__subtitle-txt">Рейтинг</span>
          <span class="reviews-label__subtitle-txt">4.9</span></span
        >
        <p class="reviews-label__txt txt txt--s">135 отзывов</p>
      </div>
    </div>
    <div class="hero__slider swiper">
      <ul class="hero__slider-wrapper swiper-wrapper">
        <li class="hero__slide slide-hero swiper-slide">
          <div class="slide-hero__content">
            <h1 class="slide-hero__heading h h--xl">
              <!-- Ангел Concept — <br />
              центр премиального ухода и косметологии в Ставрополе -->Ангел
              Concept — центр премиум-косметологии в Ставрополе
            </h1>
            <p class="slide-hero__text txt">
              Место, где вы выбираете заботу о себе как стиль жизни. Эстетично,
              профессионально и легко
            </p>
            <a href="#" class="slide-hero__btn btn txt txt--l"
              >выбрать процедуру</a
            >
          </div>
          <div class="slide-hero__bg-wrap">
            <video
              loop
              playsinline
              autoplay="autoplay"
              muted
              src="video/Angel_bg2.mp4"
              class="slide-hero__bg"
            ></video>
          </div>
        </li>
        <li class="hero__slide slide-hero swiper-slide">
          <div class="slide-hero__content">
            <h2 class="slide-hero__heading h h--xl">
              Косметология: уходы, инъекции, лифтинг
            </h2>
            <p class="slide-hero__text txt">
              Место, где вы выбираете заботу о себе как стиль жизни. Эстетично,
              профессионально и легко
            </p>
            <a href="#" class="slide-hero__btn btn txt txt--l"
              >Выбрать процедуру</a
            >
          </div>

          <div class="slide-hero__bg-wrap">
            <picture class="pagination-hero__image-wrap">
              <source
                srcset="img/bg/2087330024-m.webp"
                media="(max-width: 48em)"
                type="image/webp"
              />

              <source
                srcset="img/bg/2087330024.webp"
                media="(min-width: 48.01em)"
                type="image/webp"
              />

              <img
                src="img/bg/2087330024.webp"
                class="slide-hero__bg"
                alt="Косметология: уходы, инъекции, лифтинг"
              />
            </picture>
          </div>
        </li>
        <li class="hero__slide slide-hero swiper-slide">
          <div class="slide-hero__content">
            <h2 class="slide-hero__heading h h--xl">
              Коррекция фигуры и силуэта
            </h2>
            <p class="slide-hero__text txt">
              Место, где вы выбираете заботу о себе как стиль жизни. Эстетично,
              профессионально и легко
            </p>
            <a href="#" class="slide-hero__btn btn txt txt--l"
              >Выбрать процедуру</a
            >
          </div>

          <div class="slide-hero__bg-wrap">
            <picture class="pagination-hero__image-wrap">
              <source
                srcset="img/bg/20873300324-m.webp"
                media="(max-width: 48em)"
                type="image/webp"
              />

              <source
                srcset="img/bg/20873300324.webp"
                media="(min-width: 48.01em)"
                type="image/webp"
              />

              <img
                src="img/bg/20873300324.webp"
                class="slide-hero__bg"
                alt="Коррекция фигуры и силуэта"
              />
            </picture>
          </div>
        </li>
        <li class="hero__slide slide-hero swiper-slide">
          <div class="slide-hero__content">
            <h2 class="slide-hero__heading h h--xl">
              SPA и европейские массажи
            </h2>
            <p class="slide-hero__text txt">
              Место, где вы выбираете заботу о себе как стиль жизни. Эстетично,
              профессионально и легко
            </p>
            <a href="#" class="slide-hero__btn btn txt txt--l"
              >Выбрать процедуру</a
            >
          </div>

          <div class="slide-hero__bg-wrap">
            <picture class="pagination-hero__image-wrap">
              <source
                srcset="img/bg/2147225151-m.webp"
                media="(max-width: 48em)"
                type="image/webp"
              />

              <source
                srcset="img/bg/2147225151.webp"
                media="(min-width: 48.01em)"
                type="image/webp"
              />

              <img
                src="img/bg/2147225151.webp"
                class="slide-hero__bg"
                alt="SPA и европейские массажи"
              />
            </picture>
          </div>
        </li>
        <li class="hero__slide slide-hero swiper-slide">
          <div class="slide-hero__content">
            <h2 class="slide-hero__heading h h--xl">
              Велнес-программы и флоатация
            </h2>
            <p class="slide-hero__text txt">
              Место, где вы выбираете заботу о себе как стиль жизни. Эстетично,
              профессионально и легко
            </p>
            <a href="#" class="slide-hero__btn btn txt txt--l"
              >Выбрать процедуру</a
            >
          </div>

          <div class="slide-hero__bg-wrap">
            <picture class="pagination-hero__image-wrap">
              <source
                srcset="img/bg/2147225153-m.webp"
                media="(max-width: 48em)"
                type="image/webp"
              />

              <source
                srcset="img/bg/2147225153.webp"
                media="(min-width: 48.01em)"
                type="image/webp"
              />

              <img
                src="img/bg/2147225153.webp"
                class="slide-hero__bg"
                alt="Велнес-программы и флоатация"
              />
            </picture>
          </div>
        </li>
        <li class="hero__slide slide-hero swiper-slide">
          <div class="slide-hero__content">
            <h2 class="slide-hero__heading h h--xl">
              Beauty-услуги: волосы, ногти, макияж
            </h2>
            <p class="slide-hero__text txt">
              Место, где вы выбираете заботу о себе как стиль жизни. Эстетично,
              профессионально и легко
            </p>
            <a href="#" class="slide-hero__btn btn txt txt--l"
              >Выбрать процедуру</a
            >
          </div>

          <div class="slide-hero__bg-wrap">
            <picture class="pagination-hero__image-wrap">
              <source
                srcset="img/bg/2147225154-m.webp"
                media="(max-width: 48em)"
                type="image/webp"
              />

              <source
                srcset="img/bg/2147225154.webp"
                media="(min-width: 48.01em)"
                type="image/webp"
              />

              <img
                src="img/bg/2147225154.webp"
                class="slide-hero__bg"
                alt="Beauty-услуги: волосы, ногти, макияж"
              />
            </picture>
          </div>
        </li>
        <li class="hero__slide slide-hero swiper-slide">
          <div class="slide-hero__content">
            <h2 class="slide-hero__heading h h--xl">
              Тайские и балийские массажи
            </h2>
            <p class="slide-hero__text txt">
              Место, где вы выбираете заботу о себе как стиль жизни. Эстетично,
              профессионально и легко
            </p>
            <a href="#" class="slide-hero__btn btn txt txt--l"
              >Выбрать процедуру</a
            >
          </div>

          <div class="slide-hero__bg-wrap">
            <picture class="pagination-hero__image-wrap">
              <source
                srcset="img/bg/2147225155-m.webp"
                media="(max-width: 48em)"
                type="image/webp"
              />

              <source
                srcset="img/bg/2147225155.webp"
                media="(min-width: 48.01em)"
                type="image/webp"
              />

              <img
                src="img/bg/2147225155.webp"
                class="slide-hero__bg"
                alt="Тайские и балийские массажи"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <ul class="hero__pagination pagination-hero">
      <li class="pagination-hero__item _is-active">
        <button type="button" class="pagination-hero__content">
          <p class="pagination-hero__text txt txt--s">
            Косметология: уходы, инъекции, лифтинг
          </p>
          <picture class="pagination-hero__image-wrap">
            <source
              srcset="img/bg/18.webp"
              media="(min-width: 48.01em)"
              type="image/webp"
            />
            <img
              src="img/bg/18.webp"
              class="slide-hero__bg"
              alt="Косметология: уходы, инъекции, лифтинг"
            />
          </picture>
        </button>
        <span class="pagination-hero__progress"></span>
      </li>
      <li class="pagination-hero__item">
        <button type="button" class="pagination-hero__content">
          <p class="pagination-hero__text txt txt--s">
            Коррекция фигуры и силуэта
          </p>
          <picture class="pagination-hero__image-wrap">
            <source
              srcset="img/bg/18.webp"
              media="(min-width: 48.01em)"
              type="image/webp"
            />
            <img
              src="img/bg/18.webp"
              class="slide-hero__bg"
              alt="Коррекция фигуры и силуэта"
            />
          </picture>
        </button>
        <span class="pagination-hero__progress"></span>
      </li>
      <li class="pagination-hero__item">
        <button type="button" class="pagination-hero__content">
          <p class="pagination-hero__text txt txt--s">
            SPA и европейские массажи
          </p>
          <picture class="pagination-hero__image-wrap">
            <source
              srcset="img/bg/18.webp"
              media="(min-width: 48.01em)"
              type="image/webp"
            />
            <img
              src="img/bg/18.webp"
              class="slide-hero__bg"
              alt="SPA и европейские массажи"
            />
          </picture>
        </button>
        <span class="pagination-hero__progress"></span>
      </li>
      <li class="pagination-hero__item">
        <button type="button" class="pagination-hero__content">
          <p class="pagination-hero__text txt txt--s">
            Велнес-программы и флоатация
          </p>
          <picture class="pagination-hero__image-wrap">
            <source
              srcset="img/bg/18.webp"
              media="(min-width: 48.01em)"
              type="image/webp"
            />
            <img
              src="img/bg/18.webp"
              class="slide-hero__bg"
              alt="Велнес-программы и флоатация"
            />
          </picture>
        </button>
        <span class="pagination-hero__progress"></span>
      </li>
      <li class="pagination-hero__item">
        <button type="button" class="pagination-hero__content">
          <p class="pagination-hero__text txt txt--s">
            Beauty-услуги: волосы, ногти, макияж
          </p>
          <picture class="pagination-hero__image-wrap">
            <source
              srcset="img/bg/18.webp"
              media="(min-width: 48.01em)"
              type="image/webp"
            />
            <img
              src="img/bg/18.webp"
              class="slide-hero__bg"
              alt="Beauty-услуги: волосы, ногти, макияж"
            />
          </picture>
        </button>
        <span class="pagination-hero__progress"></span>
      </li>
      <li class="pagination-hero__item">
        <button type="button" class="pagination-hero__content">
          <p class="pagination-hero__text txt txt--s">
            Тайские и балийские массажи
          </p>
          <picture class="pagination-hero__image-wrap">
            <source
              srcset="img/bg/18.webp"
              media="(min-width: 48.01em)"
              type="image/webp"
            />
            <img
              src="img/bg/18.webp"
              class="slide-hero__bg"
              alt="Тайские и балийские массажи"
            />
          </picture>
        </button>
        <span class="pagination-hero__progress"></span>
      </li>
    </ul>
  </div>
  <button type="button" class="hero__scroll-down">
    <svg><use href="#arr-svg"></use></svg>
  </button>
</section>
